*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-conteiner{
    height: 500px;
    display: flex;
    flex:row nowrap;
    justify-content: space-between;
     align-items: flex-start;
    background-color: yellow;
}

.flex-item{
    width: 100%;
    background-color: red;
 
}

.flex-item:nth-child(5){
    order:-1;
}

